.container {
  max-width: 1650px;
  margin: 0 auto;
  .content-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.container-1400 {
  max-width: 1424px;
  padding: 0 12px;
  margin: 0 auto;
}
.container-1296{
    max-width: 1296px;
}

.ticker-primary {
  color: var(--secondary-color);
}

.ticker-secondary {
  color: var(--primary-color);
}
.secondery-color {
  color: #f85200;
}
.white-color {
  color: var(--white-color);
}
.f-18{
  font-size: 18px;
}
.text-color{
  color: var(--text-color);
}
